<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />
  <!-- 日志最大的历史 30天 -->
  <property name="maxHistory" value="30"/>
  <!-- 日志文件大小 5MB -->
  <property name="maxFileSize" value="2MB"/>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>logFileName</key>
      <defaultValue>logback</defaultValue>
    </discriminator>
    <sift>
      <appender name="FILE-INFO"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${logFileName}-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
          <!-- rollover daily -->
          <fileNamePattern>logs/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
          <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
          <maxFileSize>${maxFileSize}</maxFileSize>
          <maxHistory>${maxHistory}</maxHistory>
          <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>INFO</level>
          <onMatch>ACCEPT</onMatch>
          <onMismatch>DENY</onMismatch>
        </filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
          <Pattern>
            %date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
          </Pattern>
        </encoder>

      </appender>
    </sift>
  </appender>


  <appender name="ERROR-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>logFileName</key>
      <defaultValue>logback</defaultValue>
    </discriminator>
    <sift>
      <appender name="FILE-ERROR"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${logFileName}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
          <!-- rollover daily -->
          <fileNamePattern>logs/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
          <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
          <maxFileSize>${maxFileSize}</maxFileSize>
          <maxHistory>${maxHistory}</maxHistory>
          <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>ERROR</level>
          <onMatch>ACCEPT</onMatch>
          <onMismatch>DENY</onMismatch>
        </filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
          <Pattern>
            %date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
          </Pattern>
        </encoder>

      </appender>
    </sift>
  </appender>
  <logger name="com.siemens" level="DEBUG" additivity="false">
    <appender-ref ref="console" />
    <appender-ref ref="ERROR-THREAD" />
    <appender-ref ref="FILE-THREAD" />
  </logger>
  <root level="INFO" >
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE-THREAD" />
  </root>

  <!--  <logger name="com.xd" level="ERROR" additivity="false">
       <appender-ref ref="console" />
   </logger>-->


</configuration>